__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
/
dist/
*.egg-info/
.coverage
.tox/
share/
develop-eggs/
.buildout/
buildout.cfg
.installed.cfg
*.mo
*.pot
*.ds_store
**/__pycache__/
**/*.egg-info/
.venv/
**/.venv/
